<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
  <link rel="stylesheet" href="/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src = "/hello.js"></script>
</head>
<body>
  <h2>Edit this user</h2>

    <form action="/users/<%= @user[:id]%>" method="post">
      <input type="hidden" name="_method" value="put">
        First Name: <input type="text" name="first" value="<%= @user[:first]%>">
        Last Name: <input type="text" name="last" value="<%= @user[:last]%>">
      <input type="submit" value="Update User">
    </form>

    <form action="/users/:id" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete User">
    </form>

<p>
  <a href="/">NM LOL! Take me back.</a>
</p>

</body>
</html>