<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Listing all users</title>
  <link rel="stylesheet" href="/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src = "/hello.js"></script>
</head>
<body>
  <h2>Create user</h2>

    <form action="/users" method="post">
      First Name: <input type="text" name="first">
      Last Name: <input type="text" name="last">
      <input type="submit" value="Create User">
    </form>

</body>
</html>


